body{
    background-color: #f7f7f7;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
/* =============CARD================= */
.card{
transition: ease-in;
margin: auto;    
height: 70vh;
width: 70vw;
max-width: 1200px;
border: 1px solid rgba(50, 182, 67,.8);
transition: all 0.4s ease-in-out;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.meme{   
color: rgba(50, 182, 67,1);
font-size: 1rem;
}
/* =============BUTTON================= */
.btn{
font-size: .8rem;
border: none;
width: 70vw;
max-width: 1200px;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: #f7f7f7;
margin: auto;
background: rgba(50, 182, 67,.8);
}
.btn:hover{
background: rgba(50, 182, 67,1);
}